<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 RokanThemes.com. All rights reserved.

 * @author RokanThemes Team <contact@rokanthemes.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="decowraps" translate="label" sortOrder="310">
            <label><![CDATA[Decowraps]]></label>
        </tab>
    </system>
</config>
