<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="update_counters_attributes" instance="Sensei\SortingPro\Observer\UpdateCountersAttributes" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="update_counters_attributes_2" instance="Sensei\SortingPro\Observer\UpdateCountersAttributes" />
    </event>
</config>
