<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Uzer\Samples\Block\Product\View" type="Uzer\OnDemand\Block\OnDemand"/>
    <virtualType name="OnDemandDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="resourceModel" xsi:type="string">
                Uzer\OnDemand\Model\ResourceModel\OnDemandRequest\Collection
            </argument>
            <argument name="mainTable" xsi:type="string">uzer_ondemand_requests</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument xsi:type="array">
                <item xsi:type="string" name="uzer_ondemand_requests_data_source">OnDemandDataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Uzer\Catalog\Block\Product\View">
        <plugin name="decowraps_product_view_wrapper"
                sortOrder="10"
                type="Uzer\OnDemand\Plugin\Block\Product\ViewWrapper"/>
    </type>
</config>
