<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_import_bunch_save_after">
        <observer name="catalog_product_import_bunch_save_after_theme" instance="Uzer\Theme\Observer\Import\Products"/>
    </event>
</config>
