<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <order>
                <enable>1</enable>
                <restore>sales_order_restore</restore>
                <emails>digitaldecowraps@gmail.com</emails>
            </order>
        </sales>
    </default>
</config>
