<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Uzer_Contact::decowraps">
                    <resource id="Uzer_Jobs::management" title="Jobs"/>
                    <resource id="Uzer_Jobs::requests" title="Request Job"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
