<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="uzer" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Infor</label>
            <tab>decowraps</tab>
            <resource>Uzer_Middleware::config</resource>
            <group id="infor" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Infor Erp config</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="4" showInDefault="0"
                       showInWebsite="0" showInStore="1">
                    <label>Enable</label>
                    <comment>Enable integration</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="access_token_url" translate="true" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Access token url</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="client_id" translate="true" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Client z</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="client_secret" translate="true" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Client secret</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="username" translate="true" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Username</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="password" translate="true" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tenant_id" translate="true" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Tenant id</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="moongoose_config" translate="true" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Moongoose config</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
