<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="uzer_customer_payment_method_is_active"
                  instance="Uzer\Customer\Observer\PaymentMethodAvailable"/>
    </event>
    <event name="forgot_password_template_vars">
        <observer name="uzer_customer_payment_method_is_active"
                  instance="Uzer\Customer\Observer\ForgotPasswordObserver"/>
    </event>
</config>
