<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Uzer_Customer::management" sortOrder="100" title="Business Information Management"
             module="Uzer_Customer" parent="Amasty_Base::extensions" resource="Uzer_Customer::management"
             translate="title" action="business_information/businessinformation/index"/>
    </menu>
</config>
