<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Uzer_CustomProducts::management" sortOrder="100" title="Category Customer Management"
             module="Uzer_CustomProducts" parent="Amasty_CheckoutCore::checkout_settings"
             resource="Uzer_CustomProducts::management" translate="title"
             action="category_customer/categorycustomer/index"/>
    </menu>
</config>
